<div class="static-content pull-left">
   <side-bar></side-bar>
</div>

<div class="change-content pull-left">
  <div class="page-wrap">
    <header class="row">
      <div class="col-md-3 pull-right">
        <div class="input-group display-inline">
          <input type="text" class="form-control no-border" placeholder="Search video">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    </header>

    <section class="container-fluid">
      <div class="display-wrap">
        <div ng-repeat="video in main.videos track by $index" >
          <div class="video-img">
            <figure ng-if="video.pictures && video.pictures.sizes && video.pictures.sizes.length >= 3">
              <img ng-src="{{video.pictures.sizes[2].link}}" class="video-img" data-actual-width = "{{video.pictures.sizes[2].width}}"  data-actual-height="{{video.pictures.sizes[2].height}}" />
              <figcaption>{{video.name}}</figcaption>
            </figure>
            <figure ng-if="!video.pictures || !video.pictures.sizes || video.pictures.sizes.length < 3">
              <img src="assets/images/video-fallback-img.png" class="grid-img" data-actual-width = "295"  data-actual-height="166" />
              <figcaption>{{video.name}}</figcaption>
            </figure>
          </div>
        </div>
        <uib-pagination total-items="total" ng-model="currentPage" max-size="3" boundary-links="true" force-ellipses="false" items-per-page="12"></uib-pagination>
      </div>
    </section>
  </div>

  <footer class="site-footer">
    <p class="pull-right">Powered by Talos Digital</p>
  </footer>
</div>
