/* fonts*/

@font-face {
  font-family: 'Avenir Cn';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Cn'),
  url('../assets/fonts/avenirnextltpro/AvenirNextLTPro-Cn.woff') format('woff');
}

@font-face {
  font-family: 'Avenir UltLt';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT UltLt'),
  url('../assets/fonts/avenirnextltpro/AvenirNextLTPro-UltLtCn.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Regular'),
  url('../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Demi Cn';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Demi Cn'),
  url('../assets/fonts/avenirnextltpro/AvenirNextLTPro-DemiCn.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Medium Cn';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Medium Cn'),
  url('../assets/fonts/avenirnextltpro/AvenirNextLTPro-MediumCn.woff') format('woff');
}



@font-face {
  font-family: 'Avenir Demi';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Demi'),
  url('../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Bold'),
  url('../assets/fonts/avenirnextltpro/AvenirNextLTPro-Bold.woff') format('woff');
}

* { margin: 0; font-family: 'AvenirNextLTPro', sans-serif; }

html, body {
  height: 100%;
}

html{
  font-size: 62.5%;
  line-height: 1.3;
}

body {
  @include font-size(1.4);
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: $footer-height;
}

.site-footer {
  @include font-size(1.2);
  border-top: 1px solid #aaa;
  background: #eee;
  p{
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding-right: 10px;
    color: #999;
    margin-bottom: 0 !important;
  }
}

.content{
  padding-left: $sidenav-width;
  .row{
    padding: 0 15px;
    .icon{
      display: none;
      .menu-icon{
        width: 35px;
        height: 5px;
        background-color: #777;
        margin: 6px 0;
      }
    }
    .col-md-3{
      width: 250px;
    }
  }
  header {
    height: 80px;
    background: #f3f3f3;
    .col-md-3 {
      height: 100%;
      display: inline-flex;
      align-items: center;
      padding-right: 10px;
    }
  }
}

div.row.col-md-12{
  padding: 1em;
  text-align: center;
}

.from-detail{
  color: #777;
  @include font-size(1.2);
  strong{
    color: #444;
  }
}

.no-border{
  border: 0 !important;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}


.display-wrap{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  .videos-display{
    padding: 0.5em;
  }
  .video-img{
    width: 230px;
  }
  figcaption{
    padding-left: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.paginator{
  padding: 0 !important;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #6b5c9e;
  border-color: #6b5c9e;
  cursor: default;
}

.detail-view{
  max-width: calc(100vw - 300px);
  .video-container{
    .video-reproduce{
      padding-bottom: 0;
      width: 100%;
      iframe {
        width: 100%;
        height: 600px;
      }
    }
  }
}

.pagination > li > a:hover, .pagination > li > span:hover{
  background-color: #6b5c9e;
  border-color: #6b5c9e;
  color: #fff;
}

.pagination > li > a, .pagination > li > span{
  color: #6b5c9e;
}

.video-name{
  font-family: 'Avenir Demi';
  font-weight: bolder;
  color: #6b5c9e;
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.marginal{
  width: calc(100% - 75px);
  margin-left: 75px;
  min-height: 75px;
  position: relative;
  display: inline-flex;
  align-items: center;
  img{
    width: 60px;
    height: 60px;
    position: absolute;
    left: -60px;
    top: 0;
    margin: 0;
    border-radius: 50%;
  }
}

.description{
  margin: 0;
  padding: 15px 0 0 15px;
}

.no-padding-no-margin{
  padding: 0 !important;
  margin: 0 !important;
}

.metadata{
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  padding: 0 0.5em 0.5em 0;
  span{
    margin-left: 10px;
    i{
      color: #999;
    }
  }
}

.no-margin{
  margin: 0 !important;
}

@media (max-width: 1290px) {
  .detail-view .video-container .video-reproduce iframe {
    width: calc(100vw - 300px);
    height: 400px;
    padding-left: 0 !important;
  }
}

@media (max-width: 720px){
    .content{
      width: 100% !important;
      padding-left: 0;
      .row{
        display: inline;
      }
      .det{
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
      }
      .icon{
        display: inherit !important;
        .menu-icon{
          width: 35px;
          height: 5px;
          background-color: #777;
          margin: 6px 0;
        }
      }
      header .col-md-3 .input-group input {
        width: 200px;
      }
    }
  .detail-view{
    width: 100%;
    .video-container .video-reproduce iframe {
      width: calc(100vw);
      height: calc(100vw / 2);
      padding-left: 0 !important;
    }
  }
  .videos-display{
    width: 100vw;
    .video-img{
      width: 100%;
      img{
        width: 100%;
      }
      figcaption{
        padding: 10px;
        font-family: 'Avenir Regular';
        font-weight: 800;
        color: #6b5c9e;
        border-bottom: 1px solid #bbb;
      }
    }
  }
  .video-name{
    width: 200px;
  }
}

