$nav-line-height: 30px;
$sidenav-width: 300px !default;
$screen-md-min: 992px !default;


nav{
  width: 100%;
  height: 100vh;
  background: #6b5c9e;
  background: -moz-linear-gradient(top, #6b5c9e 0%, #2E274D 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #6b5c9e), color-stop(100%, #2E274D));
  background: -webkit-linear-gradient(top, #6b5c9e 0%, #2E274D 100%);
  background: -o-linear-gradient(top, #6b5c9e 0%, #2E274D 100%);
  background: -ms-linear-gradient(top, #6b5c9e 0%, #2E274D 100%);
  background: linear-gradient(to bottom, #6b5c9e 0%, #2E274D 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b5c9e', endColorstr='#2E274D', GradientType=0 );
  color: #fff;
  font-family: 'Avenir Regular';

  header{
    padding: 20px 20px 20px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    img{
      width: 36px;
    }
    h1{
      font-family: 'Avenir Regular';
      font-weight: 100;
      letter-spacing: 1px;
      padding-left: 5px;
    }
  }
  span{
    display: none;
    font-family: 'Avenir Demi';
    font-size: 28px;
    font-weight: 100;
    position: absolute;
    top: -15px;
    right: 0;
    padding: 15px;
  }
}


@media (max-width: 720px){
  nav{
    //display: none;
    position: absolute;
    top: 0;
    width: 300px;
    height: calc(100vh - 80px);
    background: #6b5c9e;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #6b5c9e), color-stop(100%, #2E274D));
    background: -webkit-linear-gradient(top, #6b5c9e 0%, #2E274D 100%);
    background: linear-gradient(to bottom, #6b5c9e 0%, #2E274D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b5c9e', endColorstr='#2E274D', GradientType=0 );
    color: #fff;
    font-family: 'Avenir Regular';
    z-index: 3;
    span {
      display: inherit;
    }
  }

  .open{
    width: 300px;
    height: 100vh;
    animation: opened 0.1s ease-in-out;
  }

  .close{
    width: 300px;
    height: 100vh;
    position: absolute;
    left: -300px;
    animation: all 0.01s ease-out;
  }

}


@keyframes closeC {
  from { top: 0; left: 0;}
  to { top: 0; left: -300px;}
}

@keyframes opened {
  from { top: 0; left: -300px}
  to { top: 0; left: 0;}
}

/*@keyframes openBig {
  from { top: 0; left: -300px}
  to { top: 0; left: 0px;}
}*/

.open{
  //display: inherit;
  width: 300px;
  height: 100vh;
  animation: opened 0.1s ease-in-out;
}

.close{
  width: 300px;
  height: 100vh;
  animation: closeC 0.1s ease-out;
}


@media (min-width: 720px){
  nav{
    opacity: 1 !important;
    color: #fff !important;
    position: relative;
    width: 300px;
    height: 100vh;
    animation: openBig 0.1s ease-in-out;
    //animation-direction: reverse;
  }
}
